body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF; /* Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

button {
    background-color: #007BFF; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker Blue */
}

form {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF; /* Blue */
}

h1 {
    background-color: #ff0000; /* Red */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    background-color: #ffcc00; /* Yellow */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 24px); /* Adjust width for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width */
}

